$background-color: #fff;
$default-color: #1d2d35;
$subtitle-color: #868e96;

.posts {
  margin: 60px 0;

  .link {
    color: $default-color;
    box-shadow: none;

    &:hover {
      text-decoration: none;
    }
  }

  .post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    margin-left: -24px;
    margin-right: -24px;
    margin-bottom: 12px;
    padding: 16px 24px;
    transition: background-color 0.1s ease;
    // transition: background-color 0.1s ease, box-shadow 0.1s ease;

    &:hover {
      background-color: darken($background-color, 5%);
      // box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.15);
    }

    .meta {
      .header {
        margin: 0;
        font-weight: 900;
        margin-bottom: 10px;
      }

      time {
        color: $subtitle-color;
        font-weight: 400;
        font-size: 14px;
      }
    }
  }
}
