$lead-font-family: Merriweather, Georgia, serif;
$subtitle-color: #868e96;

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 90px 0;

  .container {
    max-width: 700px;
  }

  .welcome {
    font-size: 48px;
    font-family: $lead-font-family;
    margin-top: 0;
  }

  .subtitle {
    font-size: 22px;
    color: $subtitle-color;
  }

  .avatar {
    margin-bottom: 0;
    min-width: 50;
    border-radius: 100%;
  }
}
