.blog-post {
  &-single {
    .excerp {
      display: block;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .meta {
      display: flex;
      align-items: center;
      margin-bottom: 30px;

      .divider {
        color: #868e96;
        margin: 0 10px;
      }

      time {
        color: #868e96;
        font-weight: 400;
        font-size: 14px;
      }
    }

    .footer-links {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      list-style: none;
      padding: 0;
      margin-left: 0 !important;
    }
  }
}
